.modal-callback__title {
  margin-top: 0;
  // Не правильно подключен шрифт, смотри файл с переменными и файл с подключением шрифтов
  // Такие миксины не рекомендуется использовать
  // @include page-title;
  margin-bottom: 0;

  font-size: 28px;
  line-height: 39px;
}

.modal-callback__form-wrapper {
  flex-direction: column;
}

.modal-callback__text {
  max-width: 90%;
  margin-bottom: 21px;
}

.modal-callback__form input,
.modal-callback__form textarea {
  margin-bottom: 30px;
  padding: 14px 16px 14px 24px;
}

.modal-callback input {
  width: 100%;
}

.modal-callback textarea {
  min-height: 104px;
  margin-bottom: 24px;
}

.modal-callback input[type="checkbox"] + label {
  margin-left: 48px;
  padding-right: 2px;

  &::before {
    top: 2px;
    left: -49px;
  }
}

.modal-callback button[type="submit"] {
  width: 100%;
  min-width: 100%;
  margin: 0;
  margin-bottom: 34px;
}
