.about-company {
  position: relative;
  padding-left: 180px;
  font-size: 16px;
  line-height: 22px;
  color: $font-black;

  &::before {
    position: absolute;
    content: "";
    width: 220px;
    height: 317px;
    top: 81px;
    left: -30px;
    background: url("../../img/svg/2022.svg") no-repeat center;
    background-size: 220px 317px;
  }

  @media (max-width: $vp-768) {
    padding-left: 185px;

    &::before {
      width: 251.08px;
      height: 361.79px;
      top: -2px;
      left: -33px;
      background-size: 251.08px 361.79px;
    }
  }

  @media (max-width: $vp-768) {
    padding-left: 0;

    &::before {
      @include visually-hidden;
    }
  }
}

.about-company__title {
  font-family: $RobotoCondensed-Light;
  margin-bottom: 19px;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;

  @media (max-width: $vp-1024) {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $vp-768) {
    margin-bottom: 21px;
    font-size: 28px;
    line-height: 39px;
  }
}

.about-company__module {
  padding: 53px 25px 4px 270px;

  @media (max-width: $vp-768) {
    padding: 20px 15px 25px 15px;
  }
}

.about-company__text {
  margin-bottom: 6px;
  padding-bottom: 20px;

  &:last-child {
    padding-bottom: 0;
    margin-top: 0;
  }

  @media (max-width: $vp-1024) {
    margin-left: 3px;
  }

  @media (max-width: $vp-768) {
    margin-bottom: 41px;
  }
}

.about-company__text-detalied {
  margin-bottom: 21px;

  @media (max-width: $vp-768) {
    padding-bottom: 22px;
  }
}

.about-company__button {
  min-width: 123px;
  margin-top: 50px;

  @media (max-width: $vp-1024) {
    margin: 22px 0 0 3px;
    min-width: 122px;
  }

  @media (max-width: $vp-768) {
    margin: -12px 0 0 3px;
  }
}