.about-company {
  padding: 70px 0;

  @media (max-width: $tablet) {
    padding: 37px 0 79px;
  }

}

// Прописываем только те паддинги которые нужны
.about-company__module {
  padding-bottom: 46px;
  padding-left: 270px;
  background-repeat: no-repeat;
  background-position: top left 16px;
  background-size: 156px 320px;


  @media (min-width: 768px) {
    @include retina-bg("../img/about-2022", $file_ext: "png");
  }


  @media (max-width: $tablet) {
    padding-left: 225px;

    background-position: top left 42px;
  }


  @media (max-width: $mobile) {
    background: none;
  }
}

.about-company__module h2 {
  margin: 0 0 11px;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  font-family: $RobotoCondensed;
  color: $font-black;

  @media (max-width: $tablet) {
    margin-bottom: 8px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 11px;
    font-size: 28px;
    line-height: 39px;
  }
}

.about-company__module p {
  margin: 0 0 20px;
  line-height: 22px;
  color: $font-black;

  @media (max-width: $mobile) {
    font-size: 14px;
    line-height: 19px;
  }

  &:last-of-type {
    margin-bottom: 38px;

    @media (max-width: $tablet) {
      margin-bottom: 17px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 12px;
    }
  }
}

.about-company__module span {
  @media (max-width: $mobile) {
    display: none;
  }
}

.about-company__text-detalied {
  display: none;
  margin-bottom: 21px;

  &.is-active {
    display: block;
  }
}

.about-company__button {
  width: 180px;

  @media (max-width: $tablet) {
    padding: 14px;
  }

  @media (max-width: $mobile) {
    width: 160px;
    padding: 9px;
  }
}
