.accordion__toggle {

  @media (max-width: $vp-768) {
    transition: 0.4s;
    position: relative;
    margin-bottom: 31px;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: "";
      background-color: #c4c4c4;
    }

    // кнопка + -
    &::before {
      // @media (max-width: $vp-1024) {
      //   display: none;
      // }

      width: 16px;
      height: 1px;
      top: 7px;
      right: 2px;
    }

    &::after {
      // @media (max-width: $vp-1024) {
      //   display: none;
      // }

      // @media (max-width: $vp-768) {
      //   display: none;
      // }

      // @media (min-width: $vp-768) and (max-width: $vp-375) {
      width: 1px;
      height: 16px;
      top: 0;
      right: 9.5px;
      opacity: 1;
    }


  }
}

// }

.accordion__toggle--close {
  &::after {
    opacity: 0;
  }
}

.accordion__content {
  @media (max-width: $vp-768) {
    display: none;
  }
}

.accordion__content--show {
  @media (max-width: $vp-768) {
    display: block;
  }
}