.benefits {
  padding: 121px 0 50px;

  @media (max-width: $tablet) {
    padding: 80px 0 40px;
  }

  @media (max-width: $mobile) {
    padding: 50px 0 10px;
  }
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 32px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet) {
    gap: 30px 28px;
  }

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
  }
}

.benefits__item {
  min-height: 300px;
  padding: 40px;
  border: 1px solid #ebebeb;
  border-left: 5px solid $basic-blue;
  transition: 0.3s;

  @media (max-width: $tablet) {
    min-height: 360px;
    padding: 40px 40px 30px;
  }

  @media (max-width: $mobile) {
    min-height: 340px;
    padding: 30px 25px 35px;
  }


  &:hover {
    background-color: $basic-blue;
  }

}

.benefits__icon {
  width: 35px;
  height: 35px;
  margin-bottom: 20px;

  @media (max-width: $tablet) {
    margin-bottom: 15px;
  }

  @media (max-width: $mobile) {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
  }
}

.benefits__icon svg {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  fill: $basic-blue;
}

.benefits__item:hover svg {
  fill: #f2f5f7;
}

.benefits h3 {
  position: relative;
  margin: 0 0 12px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  font-family: $RobotoCondensed;
  color: $basic-blue;
  transition: 0.3s;

  @media (max-width: $tablet) {
    margin: 0 0 6px;
  }

  @media (max-width: $mobile) {
    margin: 6px 0 10px;
    font-size: 20px;
    line-height: 28px;
  }
}

.benefits__item:hover h3 {
  color: $basic-grey;
}

.benefits p {
  margin: 0;

  line-height: 22px;
  color: $font-black;

  @media (max-width: $mobile) {
    font-size: 14px;
    line-height: 19px;
  }
}

.benefits__item:hover p {
  color: $basic-grey;
}
