.button {
  display: inline-block;
  padding: 16px 26px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  font-family: $RobotoCondensed;
  vertical-align: top;
  text-align: center;
  color: $basic-grey;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;

  &:active {
    opacity: 0.5;
  }

  &--white-transparent {
    color: $basic-grey;

    border-color: $basic-grey;

    &:hover,
    &:focus {
      color: $basic-blue;

      border-color: $basic-blue;
      outline: none;
    }
  }

  &--accent {
    background: $basic-blue;

    &:hover,
    &:focus {
      background: transparent;
      border-color: #ffffff;
      outline: none;
    }
  }

  &--blue-transparent {
    color: $basic-blue;

    border-color: $basic-blue;

    &:hover,
    &:focus {
      color: $font-black;

      border-color: $font-black;
      outline: none;
    }
  }

  &--black {
    color: $basic-grey;
    background-color: $font-black;

    &:hover,
    &:focus {
      color: $font-black;
      background-color: transparent;
      outline: none;
    }
  }
}
