.link {
  margin: 0;
  padding: 14px 28px;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  font-family: $RobotoCondensed-Bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $basic-grey;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  background: transparent;
  transition: 0.3s;
}

.link--light {
  border-color: $basic-grey;
  margin-left: 163px;

  &:hover,
  &:focus {
    background: $basic-blue;
    border-color: $basic-blue;
  }
}
