.page-footer {
  padding: 51px 0 45px;
  color: rgba(255, 255, 255, 0.7);
  background-color: $font-black;

  @media (max-width: $tablet) {
    padding-bottom: 55px;
  }

  @media (max-width: $mobile) {
    padding: 35px 0 40px;
  }
}

.page-footer__top {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.page-footer__about {
  @media (max-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 30px;
  }

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    gap: 15px;
    padding-bottom: 0;
  }
}

.page-footer__logo {
  display: block;
  width: 215px;
  height: 55px;
  margin-bottom: 30px;

  @media (max-width: $tablet) {
    margin-bottom: 0;
  }

  @media (max-width: $mobile) {
    margin: 0 auto;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}


.page-footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
}
