.product {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 50px 30px 53px 44px;
  overflow: hidden;
  background: $font-black no-repeat center;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 63px;
    height: 63px;
    background: $basic-blue url("../img/svg/arrow-button-about.svg") no-repeat center;
  }

  @media (max-width: $vp-1024) {
    padding: 40px 30px 53px 44px;
  }

  @media (max-width: $vp-375) {
    padding: 20px 30px 53px 35px;
  }

  &--card {
    background-color: $font-black;
    background-image: url("../img/goods-services/card-1-desktop.jpeg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/goods-services/card-1-desktop@2x.jpeg");
    }

    @media (max-width: $vp-1024) {
      background-image: url("../img/goods-services/card-1-tablet.jpeg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/goods-services/card-1-tablet@2x.jpeg");
      }
    }

    @media (max-width: $vp-375) {
      background-image: url("../img/goods-services/card-1-mobile.jpeg");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/goods-services/card-1-mobile@2x.jpeg");
    }
  }

  &--mounting {
    background-color: $font-black;
    background-image: url("../img/goods-services/card-2-desktop.jpeg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/goods-services/card-2-desktop@2x.jpeg");
    }

    @media (max-width: $vp-1024) {
      background-image: url("../img/goods-services/card-2-tablet.jpeg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/goods-services/card-2-tablet@2x.jpeg");
      }
    }

    @media (max-width: $vp-375) {
      background-image: url("../img/goods-services/card-2-mobile.jpeg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/goods-services/card-2-mobile@2x.jpeg");
      }
    }
  }

  &--components {
    background-color: $font-black;
    background-image: url("../img/goods-services/card-3-desktop.jpeg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/goods-services/card-3-desktop@2x.jpeg");
    }

    @media (max-width: $vp-1024) {
      background-image: url("../img/goods-services/card-3-tablet.jpeg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/goods-services/card-3-tablet@2x.jpeg");
      }
    }

    @media (max-width: $vp-375) {
      background-image: url("../img/goods-services/card-3-mobile.jpeg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/goods-services/card-3-mobile@2x.jpeg");
      }
    }
  }
}

.product__link {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  min-height: 1;
  transition: 0.3s;
}

.product__title {
  width: 173px;
  font-size: 20px;
  line-height: 30px;
  font-family: $RobotoCondensed;
  color: $background-color-whte;
}
