.questions {
  padding: 165px 0 248px;
  color: $color-default-white;
  background-color: $basic-blue;
  background-image: url("../img/svg/bg-questions.svg");
  background-repeat: no-repeat;
  background-position: left top -78px;

  @media (max-width: $tablet) {
    padding: 46px 0 125px;
    background-image: none;
  }

  @media (max-width: $mobile) {
    padding: 47px 0 90px;
  }
}

.questions__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 20px;

  @media (max-width: $tablet) {
    display: block;
  }
}

.questions__image {
  margin-top: 80px;

  @media (max-width: $tablet) {
    display: none;
  }
}

.questions__wrapper {
  padding: 0 10px;

  @media (max-width: $tablet) {
    padding: 0;
  }
}

.questions h2 {
  margin: 0 0 12px;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  font-family: $RobotoCondensed;

  @media (max-width: $tablet) {
    margin-bottom: 6px;
  }

  @media (max-width: $mobile) {
    font-size: 30px;
    line-height: 42px;
  }
}

.questions p {
  margin: 0 0 35px;
  line-height: 22px;

  @media (max-width: $tablet) {
    margin-bottom: 25px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 19px;
  }
}
