.site-form__wrapper {
 display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;
  align-items: start;

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.site-form input,
.site-form textarea {
  width: 100%;
  padding: 14px 16px;
  font-size: 16px;
  line-height: 22px;
  font-family: $PTMono;
  color: $color-default-white;
  background: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  transition: 0.3s;

  &:hover,
  &:focus {
    outline: 1px solid #041427;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.site-form input::placeholder,
.site-form textarea::placeholder {
  color: $color-default-white;
  opacity: 1;
}

.site-form textarea {
  grid-column: 1/-1;
  // min-height: 154px;
  height: 155px;
  padding-top: 24px;
  resize: none;

  @media (max-width: $tablet) {
    padding-top: 30px;
  }

  @media (max-width: $mobile) {
    height: 180px;
    padding-top: 23px;
  }
}

.site-form__checkbox {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 9px;
  justify-content: start;
  align-items: start;
  order: 1;
  margin: 29px 0 0 11px;

  @media (max-width: $tablet) {
    margin: 24px 0 0;
  }

  @media (max-width: $mobile) {
    margin: 3px 0 0 5px;
  }
}

.site-form__checkbox label {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.site-form__checkbox input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-top: 7px;
  padding: 0;
  background-color: $basic-blue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7px 4px;
  border: 1px solid $color-default-white;
  border-radius: 2px;
  appearance: none;

  @media (max-width: $mobile) {
    margin-top: 0;
  }

  @media (max-width: 425px) {
    margin-top: 7px;
  }
}

.site-form__checkbox input[type="checkbox"]:checked {
  background-image: url("../img/svg/checkbox-arrow.svg");
}

.site-form__submit {
  display: block;
  width: 100%;
  max-width: 265px;
  margin-top: 15px;
  padding: 12px;
  font-size: 16px;
  line-height: 19px;
  background-color: $font-black;
  border: 1px solid $font-black;

  @media (max-width: $tablet) {
    padding: 15px 15px 9px;
  }

  @media (max-width: $mobile) {
    max-width: 270px;
    margin-top: 10px;
  }
}

.site-form__agreement {
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.8);

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 1);
  }
}

[data-lastpass-icon-root] {
  display: none;
}
