// Макс ширину пропишем по контенту + небольшой паддинг, что бы при резине контент не прижимался к сторонам браузера
.container {
  width: 100%;
  // max-width: 1920px;
  max-width: 1260px;
  margin: 0 auto;
  // padding: 0 40px;
  padding: 0 20px;
  // @include vp-1439 {
  //   padding: 0 32px;
  // }
  // По макету другие отступы

  @include vp-1023 {
    // padding: 0 24px;
    padding: 0 50px;
  }
  @include vp-767 {
    // padding: 0 16px;
    padding: 0 25px;
  }
}
