/* ============= Fonts */
//  400:  Regular
//  500:  Medium
//  700:  Bold

// Пропишем правильный путь до шрифта
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto Condensed";

  font-display: swap;
  // src: local("Roboto Condensed"), local("Roboto-Condensed"), url("../../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../../fonts/RobotoCondensed-Regular.woff") format("woff");
  src: local("Roboto Condensed"), local("Roboto-Condensed"),
    url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}

// Пропишем правильный путь до шрифта
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto Condensed";

  font-display: swap;
  // src: local("Roboto Condensed"), local("Roboto-Condensed"), url("../../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../../fonts/RobotoCondensed-Bold.woff") format("woff");
  src: local("Roboto Condensed"), local("Roboto-Condensed"),
    url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}

// Пропишем правильный путь до шрифта
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Mono";

  font-display: swap;
  // src: local("PT Mono"), local("PT-Mono"),
  //   url("../fonts/PTMono-Regular.woff2") format("woff2"),
  //   url("../fonts/pt-mono-v8-latin_cyrillic-regular.woff") format("woff");
  src: local("PT Mono"), local("PT-Mono"),
    url("../fonts/PTMono-Regular.woff2") format("woff2"),
    url("../fonts/PTMono-Regular.woff") format("woff");
}
